.hero-first-part-wrap {
  @include viewport-desktop {
    position: relative;
  }
}

.hero-title {
  max-width: 365px;
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;

  @include viewport-desktop {
    max-width: 628px;
    text-align: start;
    font-size: 48px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.hero-txt {
  margin-bottom: 63px;
  font-family: "Poppins", sans-serif;
  text-align: center;

  @include viewport-desktop {
    max-width: 628px;
    margin-bottom: 30px;
    text-align: start;
    font-size: 24px;
  }
}

.hero-address {
  display: none;
  @include viewport-desktop {
    display: block;
  }
}

.footer-info-list.top {
  gap: 15px;
  margin-bottom: 30px;
}

.hero-img-wrap {
  margin-bottom: 63px;
  border-radius: 35px;
  overflow: hidden;
  box-shadow: 50px -20px 100px 45px rgba(0, 17, 255, 0.2);

  @include viewport-desktop {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0;
    box-shadow: 50px -20px 100px 45px rgba(0, 17, 255, 0.2);
  }
}

.hero-img {
  @include viewport-desktop {
    min-width: 550px;
  }
}

.hero-btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 39px;
  margin-bottom: 120px;

  @include viewport-desktop {
    flex-direction: row;
    gap: 27px;
    margin-bottom: 200px;
  }
}

.rent-bike-btn {
  width: 292px;
  height: 73px;
  font-size: 24px;
  @include btn;
}

.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 292px;
  height: 73px;
  font-size: 24px;
  border: 3px solid transparent;
  background-color: transparent;
  border-image: $btn-bg-color;
  border-image-slice: 1;
  transition: color $transition-time;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

.hero-photo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 104px;
  margin-bottom: 102px;

  @include viewport-desktop {
    flex-direction: row;
    justify-content: center;
    gap: 44px;
    margin-bottom: 107px;
  }
}

.hero-photo-item {
  position: relative;
  width: 100%;
  max-width: 334px;
  height: 228px;
  padding-top: 114px;
  border-radius: 15px;
  background-color: $card-primary-bg-color;
}

.hero-photo-item-wrap {
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background-color: $photo-color;
  overflow: hidden;

  @include viewport-desktop {
    top: -53px;
    width: 150px;
    height: 150px;
  }
}

.hero-photo-item-txt {
  display: inline-block;
  width: 250px;
  font-size: 24px;
  text-transform: capitalize;
}

.hero-icon-section {
  padding-top: 99px;
  padding-bottom: 99px;
  background-color: $icon-section-bg-color;
}

.hero-icon-section-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;

  @include viewport-desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.hero-icon-section-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;

  @include viewport-desktop {
    flex-direction: row;
    gap: 20px;
  }
}

.hero-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  border-radius: 50%;

  &.first {
    background-color: $icon-1-wrap-bg-color;
  }
  &.second {
    background-color: $icon-2-wrap-bg-color;
  }
  &.third {
    background-color: $icon-3-wrap-bg-color;
  }
  &.fourth {
    background-color: $icon-4-wrap-bg-color;
  }
}

.hero-icon {
  fill: $icon-color;
}

.hero-icon-count {
  display: block;
  font-size: 38px;
  color: $hero-icon-count;

  @include viewport-desktop {
    text-align: start;
  }
}

.hero-icon-descr {
  display: block;
  font-size: 14px;

  @include viewport-desktop {
    font-size: 14px;
  }
}
